<%= form_with(model: @picture, local:true, url: choose_new_or_edit) do |f| %>

  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %></h2>
      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h3>Pictureを選択してください</h3>
  <div class="picture_field">
    <%= f.file_field :image, id: :picture_image %>
    <%= f.hidden_field :image_chche %>
  </div>
  <br>
  <br>
  <div class="title">
    <%= f.text_area :caption, :size=>"60x5", :placeholder=>"キャプションを書く" %>
  </div>
  <br>

  <%= f.submit %>
<% end %>
