
<h1>Picture一覧</h1>

<% @pictures.each do |picture| %>
  <p>投稿者：<%= picture.user.name %></p>
  <%= image_tag picture.image %>
  <br>

  キャプション：<%= picture.caption %>
  <br>
  <%#= link_to '詳細', picture_path(picture.id) %>&nbsp;

  <% if picture.user_id == current_user.id %>

    <%= link_to '編集', edit_picture_path(picture.id) %>&nbsp;
    <%= link_to '削除', picture_path(picture.id), data: { confirm: '本当に削除していいですか？'}, method: :delete %>
  <% else %>
    <%# if @favorite.present? %>
    <% if picture.favorites.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(picture.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(picture_id: picture.id), method: :post, class: 'btn btn-prymary' %>
    <% end %>
  <% end %>

  <br>
  <br>
  <br>
<% end %>
